<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.doctorwork.sword.gateway.admin.dal.mapper.ext.ExtLoadbalanceInfoMapper">
    <resultMap id="BaseResultMap" type="com.doctorwork.sword.gateway.admin.dal.model.LoadbalanceInfo"
               extends="com.doctorwork.sword.gateway.admin.dal.mapper.LoadbalanceInfoMapper.BaseResultMap"/>
    <sql id="Base_Column_List">
        <include refid="com.doctorwork.sword.gateway.admin.dal.mapper.LoadbalanceInfoMapper.Base_Column_List"/>
    </sql>
    <select id="get" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from loadbalance_info
        where is_delete = 0
        and lb_mark = #{lbMark}
        limit 1
    </select>
</mapper>