<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.doctorwork.sword.gateway.admin.dal.mapper.ext.ExtLoadbalanceInfoMapper">
    <resultMap id="BaseResultMap" type="com.doctorwork.sword.gateway.admin.dal.model.LoadbalanceInfo"
               extends="com.doctorwork.sword.gateway.admin.dal.mapper.LoadbalanceInfoMapper.BaseResultMap"/>
    <sql id="Base_Column_List">
        <include refid="com.doctorwork.sword.gateway.admin.dal.mapper.LoadbalanceInfoMapper.Base_Column_List"/>
    </sql>
    <select id="get" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from loadbalance_info
        where is_delete = 0
        and lb_mark = #{lbMark}
        limit 1
    </select>

    <select id="list" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from loadbalance_info
        where is_delete = 0
    </select>

    <update id="update">
        update loadbalance_info
        set lb_name      = #{param.lbName,jdbcType=VARCHAR},
            lb_comment   = #{param.lbComment,jdbcType=VARCHAR},
            lb_type      = #{param.lbType,jdbcType=VARCHAR},
            rule_param   = #{param.ruleParam,jdbcType=VARCHAR},
            ping_param   = #{param.pingParam,jdbcType=VARCHAR},
            lb_ext_param = #{param.lbExtParam,jdbcType=VARCHAR},
            dscr_enable  = #{param.dscrEnable,jdbcType=TINYINT},
            dscr_id      = #{param.dscrId,jdbcType=VARCHAR}
        where is_delete = 0
          and lb_mark = #{param.lbMark,jdbcType=VARCHAR}
    </update>

    <update id="delete">
        update loadbalance_info
        set is_delete = 1
        where is_delete = 0
          and lb_mark = #{lbMark,jdbcType=VARCHAR}
    </update>

    <update id="updateStatus">
        update loadbalance_info
        set lb_status = #{lbStatus}
        where is_delete = 0
          and lb_mark = #{lbMark,jdbcType=VARCHAR}
    </update>
</mapper>
