<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.doctorwork.sword.gateway.admin.dal.mapper.ext.ExtRoutePredicateMapper">
    <resultMap id="BaseResultMap" type="com.doctorwork.sword.gateway.admin.dal.model.RoutePredicate"
               extends="com.doctorwork.sword.gateway.admin.dal.mapper.RoutePredicateMapper.BaseResultMap"/>
    <sql id="Base_Column_List">
        <include refid="com.doctorwork.sword.gateway.admin.dal.mapper.RoutePredicateMapper.Base_Column_List"/>
    </sql>
    <select id="get" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from route_predicate
        where is_delete = 0
        and id = #{id}
    </select>

    <select id="getByRoute" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from route_predicate
        where is_delete = 0
        and route_id = #{routeId}
    </select>

    <update id="update">
        update route_predicate
        <set>
            <if test="param.routePredicateValue != null">
                route_predicate_value = #{param.routePredicateValue,jdbcType=VARCHAR},
            </if>
            <if test="param.routePredicateComment != null">
                route_predicate_comment = #{param.routePredicateComment,jdbcType=VARCHAR},
            </if>
        </set>
        where is_delete = 0
        and id = #{param.id,jdbcType=BIGINT}
        and route_predicate_key = #{param.routePredicateKey,jdbcType=VARCHAR}
    </update>

    <insert id="insert">
        insert into route_predicate (route_id, route_predicate_key, route_predicate_value,
                                     route_predicate_comment)
        values (#{param.routeId,jdbcType=BIGINT}, #{param.routePredicateKey,jdbcType=VARCHAR},
                #{param.routePredicateValue,jdbcType=VARCHAR},
                #{param.routePredicateComment,jdbcType=VARCHAR})
    </insert>

    <update id="delete">
        update route_predicate
        set is_delete = 1
        where is_delete = 0
          and id = #{id,jdbcType=BIGINT}
          and route_predicate_key = #{routePredicateKey,jdbcType=VARCHAR}
    </update>

    <update id="deleteByRoute">
        update route_predicate
        set is_delete = 1
        where is_delete = 0
          and id = #{id,jdbcType=BIGINT}
          and route_id = #{routeId,jdbcType=VARCHAR}
    </update>
</mapper>